<div class="container">

<div class="overlay">
    <div class="rightmenu" #rightmenu>

        <p></p>
        <p></p>
        <p></p>
       <div [class.sticky]="stickyReached">
        <p></p>
        <p></p>
       </div>
    
    
    </div>


</div>







    <div class="authordetailscontainer">

        <div class="authordetails">

            <img src="{{authorUrl}}" alt="" class="authorimg">

            <div style="display: flex; flex-direction: column;  height: 100%;justify-content: space-around;">

                <h4 class="title" style="text-align: start;">
                    {{title}}
                </h4>

                <div style="display: flex; gap: 0 1rem; color: gray;">

                    <h6 style="margin: 0;">{{authorName}}</h6>

                    <h6>Follow</h6>
                    <h6>Like</h6>

                </div>

            </div>

        </div>


        <div class="authorlikeshare">

            <button>
                Save
            </button>

            <button>
                Like
            </button>

        </div>

    </div>



<!-- content -->


<div class="content">
    <img src="{{cardUrl}}" alt="">
   
</div>
</div>